#container {
  background-color: grey ;
  height: 400px;
  width:550px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0;
  position: relative;
  padding: 20px;
}
#score {
   background-color: yellow;
   padding: 11px;
   position: absolute;
   left: 500px;
   box-shadow: 0px 4px 0px 0px;
}
#correct {
  position: absolute;
  left: 260px;
  color: white;
  padding: 11px;
  background-color: green;
  display: none;
}
#wrong {
  position: absolute;
  left: 260px;
  color: white;
  padding: 11px;
  background-color: red;
  display: none;
}
#question {
  width: 450px;
  height: 150px;
  margin: 50px auto 10px auto;
  background-color: orange;
  box-shadow: 0px 4px 0px;
  font-size: 100px;
  text-align: center;
  font-family: cursive,sans-serif;
}
#instrunction {
  width: 450px;
  height: 50px;
  background-color: lightgray;
  margin: 10px auto ;
  text-align: center;
  line-height: 45px;
  box-shadow: 0px 4px 0px;
}
#choices {
  width: 450px;
  height: 100px;
  margin: 5px auto;
}
.box {
  width: 85px;
  height: 85px;
  background-color: white;
  float: left;
  margin-right: 36px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px 0px;
  text-align: center;
  line-height: 80px;
  position: relative;
  transition: all 0.2s;
}
.box:hover,#start-reset:hover {
  background-color: yellow;
}
.box:active, #start-reset:hover {
  box-shadow: 0px 0px;
  top: 4px;
}
#box4 {
  margin-right:0;
}
#start-reset {
  width: 80px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px 0px;
  text-align: center;
  position: relative;
  transition: all 0.2s;
}
#remain-time{
  width: 153px;
  padding: 10px;
  position: absolute;
  top: 395px;
  left: 400px;
  background-color: lightgreen;
  border-radius: 3px;
  box-shadow: 0px 4px 0px;
  display: none;
  /* visibility: hidden; */
}
#game-over {
  height: 200px;
  width: 500px;
  background:linear-gradient(lightgray,orange);
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  position:absolute;
  top: 200px;
  left: 110px;
  z-index: 2;
  display: none;
}